@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Pacifico', cursive, system-ui, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

main{
    background-color: #edf0f5;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    padding: 1%;
    background: #f9f5e8;
}

.nav__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    background-color: #415167;
    padding: 4rem;
    flex-wrap: wrap;
}
.nav__item--active .nav__link {
    color: #ffffff;
}
.card {
    display: grid;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    justify-items: center;
    
}
.card--featured {
    background: #f8f9fa;
    border-color: #2c5530;
    text-align: center;
}
.nav__item:hover {
    color: #000000;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: aquamarine;
}
.button{
    color: #ffffff;
    background-color: #000000;
    padding: 5px 10px;
}
.button--active{
    color: burlywood;
    background-color: #ffffff;
}
.button:hover{
    border-radius: 5px;
    color: red;
    transform: translateY(5px);
}
.test{
    background-color: #415167
}
.header__logo{
    padding-right: 100px;
    padding-top: 50%;
}
.topic{
    text-align: center;
}
.cards1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cards2{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.cards4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
text {
 color: navy;
 font-size: 18px;
}
/* Ноутбуки (меньше 1200px) */
@media (max-width: 1199px) {
 .text {
 color: darkblue;
 }
}
/* Планшеты (меньше 992px) */
@media (max-width: 991px) {
 .text {
 color: blue;
 }
}
/* Мобильные в альбомной ориентации (меньше 768px) */
@media (max-width: 767px) {
 .text {
 color: royalblue;
 }
}
/* Мобильные (меньше 576px) */
@media (max-width: 575px) {
 .text {
 color: dodgerblue;
 font-size: 16px;
 }
}
/* Очень маленькие экраны (меньше 400px) */
@media (max-width: 399px) {
 .text {
 color: lightblue;
 font-size: 14px;
 }
}
